{% set slurm = salt['grains.filter_by'](
  {
  'RedHat': {
        'bindir': '/usr/bin',
        'use_cgroup': False,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
        'etcdir': '/etc/slurm',
        'config': '/etc/slurm/slurm.conf',	
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib64/slurm',
	'logdir': '/var/log/slurm',
	'rundir': '/var/run',
	'slurmddir': '/var/spool/slurm/d',
	'slurmctlddir': '/var/spool/slurm/ctld',
	'slurmd': 'slurmd',
	'slurmctld': 'slurmctld',
	'slurmdbd': 'slurmdbd',
	'mail': '/bin/mail',
	'user_create': True,
	'user_uid': 64030,
	'user_gid': 64030,
	'slurm_user': 'slurm',
	'slurm_group': 'slurm',
        'client_pkgs': ['slurm'],
        'munge_pkgs':['munge'],
        'node_pkgs' : ['slurm-slurmd'],
	'server_pkgs': ['slurm-slurmctld'],
        'db_pkgs': ['slurm-slurmdbd'],
        'devel_pkgs': ['slurm-devel'],
	'openlava_pkgs': ['slurm-openlava', 'slurm-perlapi'],
	'openlava_extra_pkgs': ['libswitch-perl'],
	'pam_pkgs': ['slurm-pam_slurm'],
	'screen_pkgs': ['screen'],
        },
  'Debian': {
        'bindir': '/usr/bin',
        'use_cgroup': True,
        'server': 'slurmctld',
        'server_bin': '/usr/sbin/slurmctld',
        'scontrol': '/usr/bin/scontrol',
        'slurmd': 'slurmd',
        'slurmd_bin': '/usr/sbin/slurmd',
	'etcdir': '/etc/slurm-llnl',
        'config': '/etc/slurm/slurm.conf',
        'env': '/etc/default/slurmd',
	'plugindir': '/usr/lib/x86_64-linux-gnu/slurm',
	'logdir': '/var/log/slurm-llnl',
	'rundir': '/var/run/slurm-llnl',
	'slurmddir': '/var/lib/slurm-llnl/slurmd',
	'slurmctlddir': '/var/lib/slurm-llnl/slurmctld',
	'slurmd': 'slurmd',
	'slurmctld': 'slurmctld',
	'slurmdbd': 'slurmdbd',
	'mail': '/usr/bin/mail',
	'slurm_user': 'slurm',
	'slurm_group': 'slulrm',
        'client_pkgs':['slurm-client','slurm-wlm-doc', 'slurm-wlm-basic-plugins'],
        'munge_pkgs':['munge'],
	'node_pkgs':['slurmd'],
	'server_pkgs': ['slurmctld'],
	'db_pkgs': ['slurmdbd', 'libslurmdb-perl' ],
	'pam_pkgs': ['slurm-pam_slurm'],
        'devel_pkgs': ['libslurm-dev', 'libslurm-perl'],
	'db_devel_pkgs': ['libslurmdb-dev', 'libslurmdb-perl'],
	'openlava_pkgs': ['slurm-openlava', 'libslurm-perl', 'libslurmdb-perl'],
	'openlava_extra_pkgs': ['libswitch-perl'],
	'pam_pkgs': ['libpam-slurm'],
	'screen_pkgs': ['screen'],
        },
  
  },merge=salt['pillar.get']('slurm:lookup'))

%}

